* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  /*background-color: #F6F2E9*/
  background-color: #f5e4bc;
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f5e4bc;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #FAB778;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #FAB778;  /* creates padding around scroll thumb */
}